h1 {font-size: 45px; text-align: center; color: black:;}

p {text-align: center;}

strong {font-size: 34px}

h1 {background: #008B8B;}

strong {color: black;}

body {background: #48D1CC}

h2 {font-size: 45px;text-align: center; color: black; background: #008B8B;}
ul {font-size: 34px;}